<!-- <div class="row"> -->

<div *ngIf="vindications as vindications">
    <ng-container *ngIf="vindications.length">

        <div *ngFor="let vindication of vindications">

            <h6 class="row">
                <div class="col-md-2 col-8">
                    Klient: {{ vindication.client }}
                </div>
                <div class="col-md-1 col-4">
                    {{ vindication.type }}
                </div>
                <div class="col-md-4 col-12">
                    {{ vindication.city }}, {{ vindication.street }} {{ vindication.home }}/{{ vindication.locale }}
                </div>
                <!-- <div  class="col-md-1 col-4">
                  {{ vindication.tech_code }}
              </div> 
              <div  class="col-md-1 col-4">
                  {{ vindication.type }}
              </div>  -->

                <div class="col-md-3 col-8">
                    {{ vindication.location }}
                </div>
                <div class="col-md-1 col-4">
                        <!-- <span class="is-small" routerLink="../upc/workorder/{{ vindication.wo_id }}">🔍</span> -->
                </div>
            </h6>
            <hr>

        </div>
    </ng-container>
</div>
<!-- 
</div> -->